
* {
  font-family: 'Source Sans 3', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   
}


/* ---------------- Nav ----------------------- */

.nav {
  display: flex;
  justify-content: center;
  position: sticky;
  padding: 20px;
  background: rgba(0,0,0, .3);
  position: sticky;
  top: 0; 
  z-index: 100;
}

.nav svg {
  width: 41px;
  height: 41px;
  fill: currentColor;
  color: white;
  opacity: 0.7;
  margin: 0px 20px 5px 20px;
}

.nav svg:hover {
  opacity: 1;
} 

/* ---------------- home page --------------------- */

#home {
 display: flex;
 justify-content: center;
 height: 940px;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0,0,0, .1);
  height: 920px;
  width: 100%;
  z-index: -1;
}

#intro-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 650px;
  width: 1200px;
  margin-top: 60px;
}

#text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  font-size: larger;
}

#text-container h3 {
  color: lightslategray;
  font-weight: lighter;
  margin-top: 0;
}

#text-container h1 {
  margin-bottom: 0;
}

#hero {
  height: 650px;
  width: 700px;  
}

#social {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 50px;
  margin-left: 245px; 
}

#social svg {
  width: 41px;
  height: 41px;
  padding-right: 10px;
  fill: currentColor;
  color: lightslategray;  
}

  /* ---------------- About --------------------- */

  #about {
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   padding: 150px;
   margin-bottom: 50px;
   height: 940px;
  }

  #pic {
    display: flex;
  }

  #pic img {
    width: 575px;
    height: 400px;
  }

  #intro {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px;
  }

  #about h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    align-self: center;
  }

  #about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }



   /* ---------------- Projects --------------------- */

   #projects {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 100px;
    height: 940px;
    background: rgba(0,0,0, .1);
  }

  #projects-intro {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px;
    background-color: white;
  }

  #projects h1 {
    font-size: 2rem;
    margin-bottom: 2px;
    align-self: center;
  }

  #projects h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: lightslategray;
  }

   #projects-pic {
    display: flex;
    margin-bottom: 20px;
  }

  #projects-pic img {
    width: 350px;
    height: 230px;
  }


   /* ---------------- Contact --------------------- */

   #contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 150px;
    height: 940px;
    background-color: aquamarine;
  }

  #contact-intro {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px;
  }

  #contact h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    align-self: center;
  }

  #contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
