
body{
    background-image: url(images/bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Source Sans 3', sans-serif;
}

/* ---------------- home page --------------------- */

#intro-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 374px;
    width: 840px;

}

#text-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  font-size: larger;
}

#text-container h3{
   color: lightslategray;
   font-weight: lighter;
   margin-top: 0;
}

#text-container h1{
  margin-bottom: 0;
}


#hero{
    height: 375px;
    width: 400px;
    
}

.nav svg{
    width: 41px;
    height: 41px;
    fill: currentColor;
    color: white;
    opacity: 0.7;
    margin: 0px 20px 20px 20px;
}

.nav svg:hover{
    opacity: 1;
} 


.nav{
    display: flex;
    justify-content: center;
}


/* ---------------- tooltip --------------------- */

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    font-weight: 10;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -40px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
